@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b1020;
  --foreground: #e6ecff;
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  @apply max-w-6xl mx-auto px-4;
}
